html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: lightgrey;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.messager-body {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: lightgrey;
    background-color: #fff;
    width: 45vw;
    height: 80vh;
}

chat-application {
  display: block;
  height: 100%;
}
